.c-select{
    display: block;
    width:100%;
    height:1.4rem; 
    background:#eee;
    outline: none;
    border:none;
    text-align: center; 
    option{
        outline: none;
        border:none;
        text-align: center;
        border:none
    }
}
.cp-list{
    background: #fff;
    font-size:0.4rem;
    margin-top:0.2rem;
    li{
        display: flex;
        padding:0 0.1rem;
        border-bottom: 1px solid #eee;
        span{
            flex:1;
            text-align: center;
            line-height: 1rem;
            color:#666;
        }
        .color-blue{
            color:#06f;
        }
    }
}