.c-select{
    display: block;
    width:100%;
    height:1.4rem; 
    background:#eee;
    outline: none;
    border:none;
    text-align: center; 
    option{
        outline: none;
        border:none;
        text-align: center;
        border:none
    }
}