.login{
    input{
        outline: none;
        border:none;
        border-bottom:1px solid #eee;
        line-height: 1rem;
        display: block;
        width:8rem;
        margin-left:1rem;
    }
    form{
        margin-top:2rem;
    }
    button{
        width:8rem;
        height:1rem;
        color:#fff;
        background:#00f;
        border:none;
        border-radius: 0.5rem;
        margin-left:1rem;
        outline: none;

    }
}
.login-title{
    font-size:0.45rem;
    text-align: center;
    margin-top:3rem;
}